* {
    box-sizing: border-box;
    color: white;

    margin: 0;
    padding: 0;
}
#root{
    background-color: rgb(255, 255, 255);
    max-width: 100vw;

    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
}
span, h4{
    text-align: center;
}

/* BANNER */
.banner-container{
    height: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: rgb(164, 0, 0);
}
.banner-subcontainer{
    grid-column: 1;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* NAV */
.nav-container{
    height: 60px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: green;
}   
.nav-logo{
    grid-column: 1;
}
.nav{
    grid-column: 2;

    align-self: center;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* HOME */
.home-container{
    grid-row: 3;

    display: grid;
    grid-template-rows: auto auto auto;
}
.home-landing{
    animation: fade ease-in 0.5s;
    background-color: grey;
    height: calc(100vh - 80px);

    grid-row: 1;

    display: grid;
    grid-template-columns: auto auto;
}
@keyframes fade{
    0%{
        opacity:0;
    }
}

.landing-left{
    width: 40vw;
    grid-column: 1;

    display: grid;
    grid-template-rows: 1fr auto auto auto 1fr;
}
.landing-right{
    grid-column: 2;
    display: grid;
}
.landing-right img{
    object-fit: contain;
}

.gallery{
    background-color: indigo;
    height: 66vh;

    display: grid;
    grid-template-rows: 1fr 1fr;
}
.gallery h1{
    grid-row: 1;

    text-align: center;
    align-self: center;
}
.gallery-img-container{
    grid-row: 2;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.gallery-img-container img{
    width: 20%;
}

.yellow-part{
    height: 66vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.yellow-left, .yellow-middle, .yellow-right{
    display: grid;

    grid-template-rows: 1fr auto auto auto 1fr;
}
.yellow-left{
    background-color: orange;
}
.yellow-middle{
    background-color: gold;
}
.yellow-right{
    background-color: yellow;
}

.rest-is{
    background-color: mediumseagreen;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
}
.rest-is-left{
    display: grid;
}
.rest-is-right{
    display: grid;

    grid-template-rows: 1fr auto auto 1fr;
}

/* MENU */
.menu-container{
    background-color: midnightblue;

    grid-row: 3;

    display: grid;
    grid-template-rows: auto auto auto;
}
.menu-landing{
    height: calc(100vh - 80px);
    grid-row: 1;

    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr auto;
}
.menu-left{
    display: grid;
    grid-row: 1;
    grid-column: 1;
}
.menu-right{
    display: grid;
    grid-template-rows: 1fr auto auto auto 1fr;
    grid-row: 1;
    grid-column: 2;
}
.menu-bottom{
    height: 80px;

    grid-row: 2;
    grid-column: 1 / span 2;

    background-color: rgb(128, 115, 0);
}
.menu-bottom h1{
    text-align: center;
}

.food-menu-container{
    grid-row: 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
}
.first-menu{
    grid-column: 1;

    display: grid;
    grid-template-rows: repeat(auto,auto);
}
.second-menu{
    grid-column: 2;

    display: grid;
    grid-template-rows: repeat(auto,auto);
}

/* CONTACT */
.contact-container{
    height: 100%;
}
.parallax, .parallax2, .parallax3 {
    /* The image used */
  
    /* Full height */
    height: calc(100vh - 80px);
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    align-content: center;
    justify-content: center;
}
.parallax{
    background-image: url("../img/wood.webp");
}
.parallax p{
    width: 80vw;
    height: 70vh;
    background-color: rgba(0, 128, 0, 0.8);

    text-align: center;
    text-justify: center;
}
.below-paral{
    height: calc(100vh - 80px);
    background-color:rgb(161, 161, 161);
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;

    background-color: rgb(154, 69, 0);
    background-image: linear-gradient(45deg, rgb(150, 78, 0) 25%, transparent 25%, transparent 75%, rgb(150, 78, 0) 75%, rgb(150, 78, 0)),
    linear-gradient(45deg, rgb(150, 78, 0) 25%, transparent 25%, transparent 75%, rgb(150, 78, 0) 75%, rgb(150, 78, 0));
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}
.below-paral img{
    height: 70vh;
    width: 18vw;
}
.parallax2{
    background-image: url("../img/tikibg.webp");
}
.parallax2 .hours-container{
    background-color: #fbfbe1!important;
    width: 90vw;
    height: 60vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.hours-container *{
    color: black;
}
.parallax2 .hours-container .hours{
    display: grid;
    grid-template-columns: 1fr;
}
.parallax2 .hours-container .happy-hour{
    display: grid;
    grid-template-columns: 1fr;
}
.come-on-in{
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: 40vw 1fr;
    grid-template-rows: 1fr;
}
.come-on-in *{
    color:black;
}
.come-on-in-left{
    background-image: url("../img/pineapple.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgb(255, 132, 50);
}
.parallax3{
    background-image: url("../img/wood.webp");
}

/* FOOTER */
.footer{
    background-color: blue;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    align-items: center;
    justify-items: center;

    height: 30vh;
}
.footer img{
    height: 25vh;
    width: 30vw;
}
.footer button{
    height: 20px;
    width: 70px;
    color: black;
    background-color:cornflowerblue;
}